snippet cl console.log()
	console.log ${1}
snippet a alert()
	alert ${1}
snippet jq jQuery document.onReady()
	jQuery ($) ->
		${1}
snippet rt return
	return ${1}
snippet - function
	->
		${1}
snippet ( function with arguments
	(${1}) ->
		${2}
snippet = scoped function
	=>
		${1}
snippet (( scoped function with arguments
	(${1}) =>
		${2}
snippet e function with 'e' as an argument
	(e) ->
		${1}
snippet $ jQuery $ wrapper
	$(${1})
