snippet cl console.log()
	console.log(${1});
snippet a alert()
	alert(${1});
snippet rt return
	return${1};
snippet fn function
	function${1}(${2}) {
		${3}
	}
snippet jq jQuery document.onReady function
	jQuery(function($) {
		${1}
	});
snippet c closure
	(function() {
		${1}
	})();
snippet $ jQuery constructor
	$('${1}')
