snippet m "module"
module ${1:Name} exposing (${2:..})
endsnippet

snippet i "import"
import ${1:Name}${2: exposing ($0)}
endsnippet

snippet dl "Debug.log"
let _ = Debug.log "${1:message}" $0 in
endsnippet

snippet { "Document Comment"
{-| ${0:Comment} -}
endsnippet
