snippet html
doctype html
html
	head
		meta(charset="utf-8")
		title Blush™
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, minimum-scale=1")
	body
endsnippet

snippet script
script(src="${0:./index.js}")
endsnippet
